aniso8601==9.0.1
attrs==23.1.0
Bottleneck
click
Flask
Flask-Cors==4.0.0
flask-restx==1.2.0
Flask-SQLAlchemy
gensim
greenlet
importlib-resources==6.1.1
itsdangerous
Jinja2
joblib
jsonschema==4.17.3
MarkupSafe
mkl-fft
mkl-random
mkl-service==2.4.0
numexpr
numpy
pandas
PyMySQL==1.1.0
pyrsistent==0.20.0
python-dateutil
pytz
scikit-learn
scipy
six
smart-open
SQLAlchemy
threadpoolctl
tzdata
Werkzeug
zipp==3.17.0
