.card {
  display: flex;
  flex-direction: row; /* 추가: 가로로 나열되도록 변경 */
  flex-wrap: wrap; /* 행이 꽉 차면 다음 행으로 넘어가도록 설정 */
  justify-content: flex-start;
  background-color: white;
  padding: 20px;
  margin-top: 5px;
}
.card h1 {
  text-align: center; /* 제목 가운데 정렬 */
}

.book-cards {
  display: flex;
  flex-direction: row; /* 가로로 나열되도록 변경 */
  flex-wrap: wrap; /* 행이 꽉 차면 다음 행으로 넘어가도록 설정 */
  justify-content: space-between; /* 가로 공간 균등 분배 */
  border: 4px solid#006400;
}

.book-card {
  display: flex;
  flex-direction: row;
  margin: 10px 10px; /* 마진을 좌우로 조절하여 카드들 사이의 간격을 조정 */
  width: calc(48% - 20px);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s;
  overflow: hidden;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}

.book-card img {
  width: 150px;
  height: 225px;
  border-radius: 5px;
  margin: 10px;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: left;
}

.book-details h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.book-details p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}