* {
    margin: 0;
    padding: 0;
}
.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 30px;
}
.input-group {
   margin-left: 150px;
    transition: .5s;
}

.input-group .form-input{
    margin: 0;
}
.form-wrap {
    width: 500px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-wrap {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
}
label {
  font-size: 13px;
  color:#908e8e;
}


#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #006400;
    color: white;
    border-radius: 30px;
    transition: .5s;
}

.inputgroup{
  display: flex;
}

p{
    margin-top: 10px;
    display: flex;
    font-size: 12px;
}

button {
  margin-left: 10px;
  width: 120px;
  height: 40px;
  background-color: #006400;
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 14px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    background: #006400;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
} 