body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/error.png') no-repeat center;
    background-size: cover;
}

.error-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004132;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 250px; /* 원하는 만큼의 간격을 설정하세요 */
}

