<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" href="images/logo3.png">
</head>
<body>

<style>
body, h2, p, pre, a, input, button {
  font-family: 'G마켓 산스 Bold';
}
nav {
  background-color: #006400;
  height: 60px;
font-weight bold;
}

a {
  text-decoration: none;
  color: inherit;
}
</style>

<header>
  <a href="/">
  <img src="/images/logo3.png" alt="로고" style="width: 500px; height: 250px; margin-top: -30px">
  </a>
</header>
<nav style="border: 5px solid white; background-color: #006400; display: flex; align-items: center; margin: 10px 0;">
  <ul style="list-style-type:none; display: flex; align-items: center; margin: 0; padding: 0;">
    <li style="margin-right: 20px;"><a href="/about" style="color: #fff; font-weight: bold;">가이드북 소개</a></li>
    <li style="margin-right: 20px;"><a href="/member/mypage" style="color: #fff; font-weight: bold;">마이페이지</a></li>
    <li style="margin-left: 50px; margin-right: 30px;">
      <input type="text" placeholder="읽고 싶은 책을 검색해 보세요!" style="width: 500px; height: 40px; background-color: white; color: #006400; border: 5px solid white; padding: 5px; font-family: 'G마켓 산스 Bold'; font-weight: bold;">
    </li>
    <li style="margin-right: 20px;">
      <button type="submit" style="background-color: white; border: 3px solid #006400; width: 50px; height: 40px; color: #006400; font-weight: bold;">검색</button>
    </li>
    <li style="margin-left: 60px; margin-right: 30px;"><a href="/member/save" style="color: #fff; font-weight: bold;">회원가입</a></li>
    <li><a href="/member/login" style="color: #fff; font-weight: bold;">로그인</a></li>
  </ul>
</nav>


<div class='card' style='text-align: center;'>
  <h2>About 가이드북</h2>
  <p>청소년을 위한 어휘력/문해력 기반 도서 추천 서비스</p>
  <pre style='text-align: center;'>
    안녕하세요. 가이드북입니다. 저희는 최근 대두되는 어휘력 논란 문제와 국민 독서량 저하 문제로 
    청소년의 어휘력, 문해력, 취향, 관심 분야에 맞게 '완독' 할 수 있는 도서를 추천해주는 서비스를 만들게 되었습니다.
    가이드북을 통해 청소년들이 독서에 흥미를 가지게 되어 국민 독서율 상승과 완독을 통한 성취감 증진을 기대해봅니다.




기술 소개 블라블라
  </pre>
</div>


<footer>
  <h2>가이드북 소개 블라블라</h2>
  <p>52, Ewhayeodae-gil, Seodaemun-gu, Seoul, Republic of Korea</p>
</footer>

</body>
</html>