<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/nav_foo.css">
    <link rel="stylesheet" href="/css/save_login.css">
    <link rel="icon" href="/images/logo3.png">
</head>
<style>
    @font-face {
        font-family: 'G마켓 산스 Medium';
        src: url('/font/GmarketSansMedium.otf') format('opentype');
    }

    @font-face {
        font-family: 'G마켓 산스 Bold';
        src: url('/font/GmarketSansBold.otf') format('opentype');
    }

    *{
        font-family: "G마켓 산스 Medium";
    }

</style>
<body>
<div class="header" style="text-align: center;">
    <a href="/"><img src="/images/logo3.png" alt="로고" style="width: 500px; height: 250px; display: block; margin: 0 auto;"></a>
</div>

<div class="wrap" style="height: 10%;">
    <div class="form-wrap" style="margin: 0 auto;" >
        <form id="login" action="/member/login" method="post" class="input-group" style="margin-left: 30px; ">
            <input type="text" id="memberEmail" name="memberEmail" class="input-field"  placeholder="이메일을 입력하세요" required>
            <input type="password" id="memberPassword" name="memberPassword" class="input-field" placeholder="비밀번호를 입력하세요" required>
            <button class="submit" style="font-family: 'G마켓 산스 Bold' !important; font-size: 16px;">로그인</button>
        </form>
    </div>
</div>

<script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ null;
    if (errorMessage) {
        alert(errorMessage);
    }
</script>

</body>
</html>