<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/nav_foo.css">
  <link rel="icon" href="/images/logo3.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>난이도 새싹</title>
  <style>
    body {
      font-family: 'G마켓 산스 Medium';
      text-align: center;
    }
    h1 {
      font-size: 32px;
      margin-top: 50px;
    }
    button {
      font-family: 'G마켓 산스 Medium';
      background-color: #006400;
      color: white;
      border: none;
      border-radius: 30px;
      width: 200px;
      height: 50px;
      font-size: 16px;
      padding: 10px 15px;
      margin-top: 20px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="header" style="text-align: center;">
  <a href="/"><img src="/images/logo3.png" alt="로고" style="width: 500px; height: 250px; display: block; margin: 0 auto;"></a>
</div>
<h1 style="margin-top: -10px;">새싹</h1>
<img src="/images/level2.png" alt="2단계 새싹" width="150" height="150">
  <pre style="font-family: 'G마켓 산스 Medium';">
    이 단계에서는 어휘력과 문해력이 점차 자라나기 시작합니다. 
    기본적인 단어와 문장 구조를 넘어서서, 조금 더 복잡한 구문과 의미를 파악할 수 있습니다. 
    일상 생활에서 흔히 접하는 글들을 읽고 이해하는 데 어려움이 없으며, 
    자신의 생각을 좀 더 구체적으로 표현할 수 있는 능력을 갖추고 있습니다.
    가이드북과 함께해 독서에 흥미를 가져보세요!
</pre>


<button onclick="redirectToMypage()">마이페이지</button>

<div class="footer" >
  <h2 style="color: black">가이드북 </h2>
<p>52, Ewhayeodae-gil, Seodaemun-gu, Seoul, Republic of Korea</p>
<p>Contact : instagram @ewha_guidebook  e-mail guidebook@ewha.ac.kr</p>
</div>

<script>
  function redirectToMypage() {
    window.location.href = "/member/mypage";
  }
</script>

</body>
</html>